.setting {
    display: flex;
    width: 100%;

    .settingContainer {
        flex: 6;

        .settingDiv{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            margin: 20px;

            ul {
                list-style: none;
                display: flex;
                gap: 4px;

                li {
                    margin-right: 5px;

                    .a:active, .a:visited, .a:link{
                        // background-color: rgb(241, 241, 241);
                        border-top: 0.5px solid gray;
                        border-right: 0.5px solid gray;
                        border-left: 0.5px solid gray;
        
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
        
                        text-decoration: none;
                        color: black;
                        padding: 5px;
                    }
                    .b {
                        text-decoration: none;
                    }
                }

            }
        }

        .logoDiv{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            margin: 20px;

            display: flex;
            flex-direction: column;
            padding: 25px;
            
           
            .company {
                width: 100%;
                margin-bottom: 10px;

                label {
                    // width: 20%;
                    // display: inline-block;
                    // text-align: right;
                    margin-right: 10px;
                }
                input {
                    width: 25%;
                }
            
            }

            .upload {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                width: 100%;
                
                div {
                    min-width: 20%;
                    margin-right: 10px;
                    // border: 1px solid blue;
                    display: flex;
                    label {
                        // width: 100%;
                        // display: inline-block;
                        // text-align: left;
                        // margin-right: 10px;
                        display: flex;
                        align-self: center;
                        
                        .icon {
                            margin-left: 10px;
                        }
                    }
                }
                .imgDiv {
                    width: 20%;
                    // border: 1px solid red;
                    justify-content: center;

                    img {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                        justify-self: center;
                        
                    }
                }
                
            }
        }

        .buttonDiv{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            margin: 20px;
            
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                width: 20%;
                padding: 20px;
                border: none;
                background-color: teal;
                color: white;
                font-weight: bold;
                cursor: pointer;
                border-radius: 10px;
            }
        }

    }

}