.new {
    width: 100%;
    display: flex;

    .newContainer {
        flex: 6;

        .top, .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 5px 20px;
            display: flex;

            .h1 {
                color: lightgray;
                font-size: 20px;
            }

            .form {
                display: flex;
                flex-direction: column;
                width: 100%;
   
                .formInput1 {
                      width: 30%; 
                            
                        label {
                            margin-top: 10px;

                        }

                        .DatePicker {
                            border-radius: 10px;
                            border: 1.5px solid gray;
                        }

                        select {
                            border-radius: 10px;
                            width: 35%;
                        }

                        .inputClass {
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid gray;
                        }
                        .input-error {
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid red;
                        }
                        p {
                            color: crimson;
                            font-size: 13px;
                        }

                    }
            
            }
        }
        .bottomForm2{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            display: flex;
            padding: 20px;
            margin: 10px 20px;
            justify-content: center;
            .buttonClass {
                width: 20%;
                padding: 20px;
                border: none;
                background-color: teal;
                color: white;
                font-weight: bold;
                cursor: pointer;
                margin-top: 10px;
                border-radius: 10px;
                // justify-self: center;
                
                &:disabled {
                    opacity: 0.35;
                }

            }
        }
    }

}